.button {
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  text-align: center;

  margin-top: 5px;
  padding: 22px 33px;
  border-radius: 16px;
  border: none;

  user-select: none;
  cursor: pointer;

  transition: opacity .3s;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.1) 100%);

  &--color {
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
  }

  @media (max-width: 60em) {
    font-size: 1.2em;
    padding: 11px 25px;
  }

  @media (max-width: 47.97em) {
    font-size: 1em;
    width: 100%;
  }

  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      opacity: 0.6;
      transition: opacity .3s;
    }
  }
}
